@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);

  --step--10: clamp(0.2rem, calc(0.64rem + -0.48vw), 0.52rem);
  --step--9: clamp(0.24rem, calc(0.67rem + -0.47vw), 0.56rem);
  --step--8: clamp(0.29rem, calc(0.7rem + -0.46vw), 0.6rem);
  --step--7: clamp(0.35rem, calc(0.74rem + -0.43vw), 0.64rem);
  --step--6: clamp(0.42rem, calc(0.77rem + -0.39vw), 0.68rem);
  --step--5: clamp(0.5rem, calc(0.8rem + -0.33vw), 0.72rem);
  --step--4: clamp(0.6rem, calc(0.83rem + -0.25vw), 0.77rem);
  --step--3: clamp(0.72rem, calc(0.86rem + -0.15vw), 0.82rem);
  --step--2: clamp(0.87rem, calc(0.88rem + -0.02vw), 0.88rem);
  --step--1: clamp(0.94rem, calc(0.9rem + 0.1vw), 1.5rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.23vw), 1.25rem);
  --step--1: clamp(0.94rem, calc(0.9rem + 0.16vw), 1.04rem);
  --step-2: clamp(1.14rem, calc(0.91rem + 0.99vw), 1.8rem);
  --step-3: clamp(1.22rem, calc(0.88rem + 1.42vw), 2.16rem);
  --step-4: clamp(1.3rem, calc(0.84rem + 1.95vw), 2.59rem);
  --step-5: clamp(1.38rem, calc(0.77rem + 2.6vw), 3.11rem);
  --step-6: clamp(1.48rem, calc(0.68rem + 3.39vw), 3.73rem);
  --step-7: clamp(1.57rem, calc(0.55rem + 4.36vw), 4.48rem);
  --step-8: clamp(1.68rem, calc(0.38rem + 5.55vw), 5.38rem);
  --step-9: clamp(1.79rem, calc(0.15rem + 7vw), 6.45rem);
  --step-10: clamp(1.91rem, calc(-0.14rem + 8.75vw), 7.74rem);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.logo {
  max-width: 6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.nav-links a {
  color: var(--Desaturated-Blue);
}

a {
  color: var(--Light-Gray);
}

/* Section-01 | All your files in one location */
.section-01-outter-wrapper {
  margin: 3rem 0;
}

.section-01-inner-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem 1.5rem;
}

.section-01-image {
  order: 1;
}

.section-01-text {
  order: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin-top: 3rem;
}

.cta-group-01 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  color: var(--Light-Gray);
}

.text {
  font-size: 0.8rem;
  top: 0.3rem;
  position: relative;
}

.error {
  color: rgb(240, 84, 84);
}

.error-border {
  border: 1px solid rgb(240, 84, 84);
}

.valid {
  color: rgb(0, 203, 0);
}

.valid-border {
  border: 1px solid rgb(0, 203, 0);
}

.btn {
  padding: 0.75rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: var(--Bright-Blue);
  color: white;
  font-weight: bold;
}

.header-01 {
  font-family: "Raleway", sans-serif;
  font-size: var(--step-6);
}

.paragraph-primary {
  font-size: var(--step-0);
}

/* Section-02 | Stay productive, wherever you are */
.section-02-outter-wrapper {
  background-color: var(--Light-Grayish-Blue);
  margin-top: 15rem;
  position: relative;
}

.section-02-outter-wrapper::before {
  content: "";
  background-image: url(./images/bg-curve-mobile.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -10%;
  left: 0;
  height: 15%;
  min-width: 100%;
  z-index: -10;
}

.section-02-inner-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: left;
}

.section-02-text {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 1.5rem;
}

.header-02 {
  font-family: "Raleway", sans-serif;
  font-size: var(--step-2);
  text-align: center;
}

.paragraph-secondary {
  font-size: var(--step--1);
  color: var(--Desaturated-Blue);
}

.btn__underline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  color: var(--Moderate-Cyan);
  width: 60%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.btn__underline span:first-child {
  margin-right: 5px;
}

.btn__underline span img {
  width: 30px;
  height: 30px;
}

.btn__underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  bottom: 0;
  left: 0;
  transform: scale(1);
  transition: 250ms;
}

.btn__underline:hover::after,
.btn__underline:active::after {
  transform: scale(0);
  transform-origin: center;
}

/* Testimonial */
.section-02-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  line-height: 1.5;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(117, 117, 117, 0.154);
}

.icon-quote {
  width: fit-content;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  max-width: 40px;
  border-radius: 50%;
}

h3 {
  font-family: "raleway";
}

.testimonial-profile-name p {
  font-size: 0.6rem;
}

/* Section-03 | Get early access today */
.section-03-outter-wrapper {
  background: var(--Desaturated-Blue);
}

.section-03-inner-wrapper {
  color: white;
  text-align: center;
  padding: 3rem 2rem;
}

h4 {
  font-size: var(--step-3);
  margin: 1rem 0;
}

.section-03-text p {
  margin-bottom: 1.5rem;
}

.cta-group-02 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.btn2 {
  font-size: 0.8rem;
  font-weight: normal;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.134);
}

.input02 {
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.134);
}

/* Footer */
footer {
  background: var(--Very-Dark-Blue);
}

.footer-inner-wrapper {
  padding: 4rem 2rem;
  max-width: 1200px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-logo {
  width: fit-content;
}

.contact-us-wrapper {
  display: grid;
  gap: 1rem;
}

.icon-phone {
  width: fit-content;
  margin-right: 1rem;
}

.icon-email {
  width: fit-content;
  margin-right: 1rem;
}

.footer-list-01,
.footer-list-02 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media-icons li {
  border: 1px solid var(--Light-Gray);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

i {
  color: var(--Light-Gray);
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .logo {
    max-width: 7rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1200px;
  }

  .nav-links {
    display: flex;
    gap: 3rem;
    font-size: 0.9rem;
  }

  /* Section-01 | All your files in one location */
  .section-01-outter-wrapper {
    display: grid;
    justify-content: center;
  }

  .section-01-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 1rem;
    max-width: 1200px;
  }

  .section-01-image {
    order: 2;
  }

  .section-01-text {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    margin-top: 3rem;
  }

  .cta-group-01 {
    display: flex;
    flex-direction: row;
    width: 90%;
    position: relative;
  }

  input {
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: var(--Light-Gray);
    width: 60%;
  }

  .btn {
    padding: 0.75rem;
    border: 0;
    border-radius: 0.2rem;
    width: 40%;
  }

  .header-01 {
    font-family: "Raleway", sans-serif;
    font-size: var(--step-4);
  }

  .paragraph-primary {
    font-size: var(--step-0);
    max-width: 90%;
  }

  /* Section-02 | Stay productive, wherever you are */
  .section-02-outter-wrapper::before {
    content: "";
    background-image: url(./images/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: -15%;
    left: 0;
    height: 20%;
    min-width: 100%;
    z-index: 1000;
  }

  .section-02-outter-wrapper {
    display: grid;
    justify-content: center;
    background: var(--Light-Grayish-Blue);
    position: relative;
  }

  .section-02-inner-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: 1200px;
  }

  .section-02-text {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
  }

  .section-02-image {
    order: 2;
  }

  .header-02 {
    font-family: "Raleway", sans-serif;
    font-size: var(--step-2);
    text-align: left;
  }

  .paragraph-secondary {
    font-size: var(--step--1);
    color: var(--Desaturated-Blue);
  }

  .btn__underline {
    justify-content: start;
    width: 100%;
  }

  .btn__underline::after {
    width: 33%;
    height: 1px;
  }

  .section-02-testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    line-height: 1.5;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(117, 117, 117, 0.154);
    max-width: 60%;
  }

  /* Section-03 | Get early access today */
  .section-03-outter-wrapper {
    background: var(--Desaturated-Blue);
    display: grid;
    place-items: center;
    padding: 2rem 0rem;
  }

  .section-03-inner-wrapper {
    color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    gap: 12rem;
  }

  h4 {
    font-size: var(--step-2);
    margin: 1rem 0;
  }

  .section-03-text p {
    margin-bottom: 1.5rem;
  }

  .cta-group-02 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0rem;
  }

  .btn2 {
    font-size: 0.8rem;
    font-weight: normal;
  }

  .input02 {
    border: none;
    width: 100%;
  }

  /* Footer */
  footer {
    background: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    width: 100%;

    position: relative;
  }

  .footer-inner-wrapper {
    padding: 4rem 0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 3rem;
    max-width: 1200px;
    width: 100%;
    margin: 6rem 2rem 0 2rem;
  }

  .footer-logo {
    position: absolute;
    top: 5.5rem;
  }

  .contact-us-wrapper {
    display: grid;
    gap: 1rem;
  }

  .icon-phone {
    width: fit-content;
    margin-right: 1rem;
  }

  .icon-email {
    width: fit-content;
    margin-right: 1rem;
  }

  .footer-list-01,
  .footer-list-02 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .social-media-icons li {
    border: 1px solid white;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  i {
    color: white;
  }
}
